.addPlantDiv{
    background-color: #70E000 !important;
    margin-left: 150px;
    margin-right: 150px;
  }
/* 
  .style{{
    'background-color': '70E000 !important';
    'padding-block': '25px';
    'margin-block': '25px';
    'margin-left': '150px';
    'margin-right': '150px';
  }} */