.addPlantDiv{
    background-color: #90be6d !important;
    margin-left: 250px;
    margin-right: 250px;
    border-style: solid;
    border-color: #9EF01A !important;
    border-radius: 5px !important;
    max-width: 350px !important;
  }

.colorBox{
  /* margin-left: 250px;
  margin-right: 250px; */
  max-width: 300px;
}
/* 
  .style{{
    'background-color': '70E000 !important';
    'padding-block': '25px';
    'margin-block': '25px';
    'margin-left': '150px';
    'margin-right': '150px';
  }} */