.tradeItemCard{
    border-color: #9EF01A !important;
    max-width: 200px;
    text-align: center;
    height: 400px;
}

.tradeCardsContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    
  }

  .TCPButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cardImage{
    height: 250px !important;
    width: 250px !important;
    object-fit: cover;
  }