.tradeItemCard{
    border-color: #9EF01A !important;
    max-width: 200px;
    text-align: center;
}

.tradeCardsContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .TCPButtons{
    justify-content: center;
  }